<!--<div fxLayout="row" fxLayoutAlign="left">
<mat-card fxFlex="400px">
	<mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="register(loginForm)">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field  style="width:50vw">
          <input matInput type="text" formControlName="fullName" placeholder="Full Name"  required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field  style="width:50vw">
          <input matInput type="text" formControlName="username" fxFlex="50" placeholder="Email"  required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field  style="width:50vw">
          <input matInput type="password" formControlName="password" fxFlex="50" placeholder="Password" required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
         <button mat-stroked-button type="submit">Register User</button>
         <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
         <div class="alert alert-danger" role="alert" *ngIf="successMessage">{{successMessage}}</div>
      </div>
    </form>
</mat-card-content>
</mat-card>
</div>-->

<div class="row mb-5">
  <div class="col-12 col-md-8">
    <form [formGroup]="loginForm" (ngSubmit)="register(loginForm)">
      <mat-form-field  class="full-width mb-2">
        <input matInput type="text" formControlName="fullName" placeholder="Full Name"  required>
      </mat-form-field>
      <mat-form-field  class="full-width mb-2">
        <input matInput type="text" formControlName="username" placeholder="Email"  required>
      </mat-form-field>
			<mat-form-field  class="full-width mb-2">
				<input matInput type="password" formControlName="password" placeholder="Password"  required>
			</mat-form-field>
      <button mat-stroked-button type="submit">Register User</button>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="alert alert-danger" role="alert" *ngIf="successMessage">{{successMessage}}</div>
    </form>
  </div>
</div>
