<mat-tab-group>
  <mat-tab label="Register User">
    <mat-card-title>
       <app-register-user></app-register-user>
    </mat-card-title>
  </mat-tab>
  <mat-tab label="Register Course">
      <app-register-course></app-register-course>
  </mat-tab>
  <mat-tab label="Register Course Section">
    <app-register-course-section></app-register-course-section>
  </mat-tab>
  <mat-tab label="Register Course Content">
    <app-register-course-content></app-register-course-content>
  </mat-tab>
</mat-tab-group>
