<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
        <mat-card-title>Responsive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This Program will enable you to build interactive and responsive web applications using both front-end and back-end technologies</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
        <mat-card-title>Web</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This Program will enable you to build interactive and responsive web applications using both front-end and back-end technologies</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This Program will enable you to build interactive and responsive web applications using both front-end and back-end technologies</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h3>About Us</h3>
    <p>We offer career transformational courses that not only help in clearing the concepts and
      terminologies but also provide extensive hands-on experience through assignments, real case studies and live projects.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML5 & CSS3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>BOOTSTRAP</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">70%</span>
      <mat-progress-bar value="70" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
    <p>Angular Certification Training will enable you to build dynamic, responsive and interactive web applications
      by mastering the concepts of Angular 8.</p><p>Our Angular 8 Training covers Angular 8 concepts such as Angular Modules, Angular Components, Data binding, Angular Animations, Angular Forms, DOM manipulation using Directives and Pipes,
      Component interaction using Services and Dependency Injection (DI), Communicate with backend services over HTTP</p>
    <button [routerLink]="['/courses']"  mat-stroked-button>View More</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>React Development <i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>
      React with Redux Certification Training will train you to build efficient React applications by mastering the concepts of React, Redux and React Native.
      </p><p>In this course, you will learn how to build simple components & integrate them into more complex design components. After completing this training you will be able to build the applications using React concepts such as JSX, Redux, Asynchronous Programming using Redux Saga middleware, Fetch data using GraphQL, perform Testing using Jest, successively Deploy applications using Nginx and Docker plus build Mobile applications using React Native
    </p>
    <button [routerLink]="['/courses']"  mat-stroked-button>View More</button>
  </div>
  <div class="col-3 text-center">
    <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
    <p>Vue.js features an incrementally adoptable architecture that focuses on declarative rendering and component composition.</p>
    <p>Advanced features required for complex applications such as routing, state management and build tooling are offered via officially maintained supporting libraries with Nuxt.js as one of the most popular solutions</p>
    <button  [routerLink]="['/courses']"  mat-stroked-button>View More</button>
  </div>
</div>
