<div class="row">
  <mat-card class="col-12">
    <h4>Login</h4>
  </mat-card>
</div>
<mat-divider class="my-3"></mat-divider>
<div class="row mb-5">
  <div class="col-12 col-md-8">
    <form [formGroup]="loginForm" (ngSubmit)="register(loginForm)">
      <mat-form-field class="full-width mb-2">
        <input matInput type="text" formControlName="fullName" placeholder="Full Name"  required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <input matInput type="text" formControlName="username" placeholder="Your Email"  required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <input matInput type="password" formControlName="password" placeholder="Your Password" required>
      </mat-form-field>
      <button mat-stroked-button type="submit">Create Account</button>
      <button [routerLink]="['/login']" mat-stroked-button type="button">Cancel</button>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
  </div>
</div>
